
input[type="range"] { 
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 20px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw yellow;
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 20px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 20px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw yellow;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background:yellow;
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 20px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}